<a href="https://colab.research.google.com/github/AndreasAvgou/Liver-Disease-Prediction/blob/main/Liver_Disease_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importing libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import itertools
import warnings
import matplotlib.pyplot as plt
plt.style.use('ggplot')

plt.rcParams['figure.dpi'] = 300

import pickle

from imblearn.pipeline import Pipeline


from sklearn.feature_selection import mutual_info_regression
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2,f_classif

from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import SGDClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn import svm, tree

from sklearn.neural_network import MLPClassifier
from sklearn.metrics import confusion_matrix,multilabel_confusion_matrix,classification_report
from sklearn.metrics import precision_recall_curve,plot_precision_recall_curve,plot_roc_curve
from sklearn.metrics import accuracy_score,f1_score

from tqdm.notebook import tqdm
from google.colab import drive
from google.colab import drive

from tqdm.notebook import tqdm
warnings.filterwarnings('ignore')

In [ ]:

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
train_df = pd.read_csv("/content/drive/MyDrive/Liver Disease Prediction/train_dataset.csv")
test_df = pd.read_csv("/content/drive/MyDrive/Liver Disease Prediction/test_dataset.csv")
train_df.head(15)

      ID  N_Days Status  ... Platelets  Prothrombin Stage
0   7135    1654     CL  ...     293.0         10.2   4.0
1   7326      41      C  ...     308.0         10.8   1.0
2   7254     297      D  ...     194.0         10.3   3.0
3   3135    1872      C  ...       NaN         10.5   4.0
4   2483     939     CL  ...     306.0         11.4   2.0
5   2306    1255      C  ...     276.0         12.1   4.0
6   2525    2065      C  ...     365.0         10.5   4.0
7   6908    1118      D  ...     254.0         10.1   4.0
8   8388    4313      D  ...     434.0         11.1   2.0
9   9132    3240      D  ...     102.0         11.2   3.0
10  8805     108      C  ...       NaN         10.6   3.0
11  9860    2417      C  ...     204.0         13.9   4.0
12  9825    2353      D  ...     243.0         11.3   3.0
13  4327    1403      D  ...     431.0         11.3   4.0
14  5572    3345      D  ...     324.0         12.6   4.0

[15 rows x 20 columns]

In [ ]:
print("============= TRAIN SET =============")
print("Missing Values: " ,np.sum(train_df.isnull().any(axis=1)))
print("Shape: ", train_df.shape)
print("Columns: ", len(train_df.columns))
print("Data types:")
print(train_df.dtypes)
print("============= TEST SET =============")
print("Missing Values: ",(np.sum(test_df.isnull().any(axis=1))))
print("Shape: ", test_df.shape)
print("Columns: ", len(test_df.columns))
print("Data types:")
print(test_df.dtypes)

============= TRAIN SET =============
Missing Values:  6685
Shape:  (6800, 20)
Columns:  20
Data types:
ID                 int64
N_Days             int64
Status            object
Drug              object
Age                int64
Sex               object
Ascites           object
Hepatomegaly      object
Spiders           object
Edema             object
Bilirubin        float64
Cholesterol      float64
Albumin          float64
Copper           float64
Alk_Phos         float64
SGOT             float64
Tryglicerides    float64
Platelets        float64
Prothrombin      float64
Stage            float64
dtype: object
============= TEST SET =============
Missing Values:  3136
Shape:  (3200, 19)
Columns:  19
Data types:
ID                 int64
N_Days             int64
Status            object
Drug              object
Age                int64
Sex               object
Ascites           object
Hepatomegaly      object
Spiders           object
Edema             object
Bilirubin        float64
Cholesterol      float64
Albumin          float64
Copper           float64
Alk_Phos         float64
SGOT             float64
Tryglicerides    float64
Platelets        float64
Prothrombin      float64
dtype: object

In [ ]:
train_df.isnull()

         ID  N_Days  Status  ...  Platelets  Prothrombin  Stage
0     False   False   False  ...      False        False  False
1     False   False   False  ...      False        False  False
2     False   False   False  ...      False        False  False
3     False   False   False  ...       True        False  False
4     False   False   False  ...      False        False  False
...     ...     ...     ...  ...        ...          ...    ...
6795  False   False   False  ...      False        False  False
6796  False   False   False  ...      False        False  False
6797  False   False   False  ...      False        False  False
6798  False   False   False  ...      False        False  False
6799  False   False   False  ...      False        False  False

[6800 rows x 20 columns]

In [ ]:
test_df.isnull()

         ID  N_Days  Status  ...  Tryglicerides  Platelets  Prothrombin
0     False   False   False  ...           True      False        False
1     False   False   False  ...          False      False        False
2     False   False   False  ...           True      False        False
3     False   False   False  ...           True      False        False
4     False   False   False  ...          False      False        False
...     ...     ...     ...  ...            ...        ...          ...
3195  False   False   False  ...           True      False        False
3196  False   False   False  ...          False       True        False
3197  False   False   False  ...          False      False        False
3198  False   False   False  ...          False      False        False
3199  False   False   False  ...          False      False        False

[3200 rows x 19 columns]

In [ ]:
train_df.describe()

                ID       N_Days  ...  Prothrombin        Stage
count  6800.000000  6800.000000  ...  6645.000000  6800.000000
mean   6268.608088  1664.055441  ...    11.231031     3.157206
std    2405.527133  1332.308135  ...     1.123444     0.993059
min    1239.000000    41.000000  ...     9.000000     1.000000
25%    4353.750000   537.000000  ...    10.500000     2.000000
50%    6599.500000  1443.000000  ...    11.100000     4.000000
75%    8299.250000  2519.000000  ...    11.700000     4.000000
max    9999.000000  4795.000000  ...    18.000000     4.000000

[8 rows x 13 columns]

In [ ]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6800 entries, 0 to 6799
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             6800 non-null   int64
 1   N_Days         6800 non-null   int64
 2   Status         6800 non-null   object
 3   Drug           4775 non-null   object
 4   Age            6800 non-null   int64
 5   Sex            6800 non-null   object
 6   Ascites        4554 non-null   object
 7   Hepatomegaly   4373 non-null   object
 8   Spiders        4210 non-null   object
 9   Edema          6800 non-null   object
 10  Bilirubin      6800 non-null   float64
 11  Cholesterol    3699 non-null   float64
 12  Albumin        6800 non-null   float64
 13  Copper         4644 non-null   float64
 14  Alk_Phos       4302 non-null   float64
 15  SGOT           4698 non-null   float64
 16  Tryglicerides  3988 non-null   float64
 17  Platelets      6462 non-null   float64
 18  Prothrombin    6645 non-null   float64
 19  Stage          6800 non-null   float64
dtypes: float64(10), int64(3), object(7)
memory usage: 1.0+ MB

In [ ]:
duplicate_train_df = train_df[train_df.duplicated()]
duplicate_train_df.shape

(0, 20)

In [ ]:
duplicate_test_df = test_df[test_df.duplicated()]
duplicate_test_df.shape

(0, 19)

In [ ]:
percent_missing1 = round((train_df.isnull().mean() * 100),2)
percent_missing2 = round((test_df.isnull().mean() * 100),2)

In [ ]:
missing_value_df1 = pd.DataFrame({'column_name': train_df.columns,
                                 'percent_missing': percent_missing1})

In [ ]:
missing_value_df2 = pd.DataFrame({'column_name': test_df.columns,
                                 'percent_missing': percent_missing2})

In [ ]:
missing_value_df1

                 column_name  percent_missing
ID                        ID             0.00
N_Days                N_Days             0.00
Status                Status             0.00
Drug                    Drug            29.78
Age                      Age             0.00
Sex                      Sex             0.00
Ascites              Ascites            33.03
Hepatomegaly    Hepatomegaly            35.69
Spiders              Spiders            38.09
Edema                  Edema             0.00
Bilirubin          Bilirubin             0.00
Cholesterol      Cholesterol            45.60
Albumin              Albumin             0.00
Copper                Copper            31.71
Alk_Phos            Alk_Phos            36.74
SGOT                    SGOT            30.91
Tryglicerides  Tryglicerides            41.35
Platelets          Platelets             4.97
Prothrombin      Prothrombin             2.28
Stage                  Stage             0.00

In [ ]:
missing_value_df2

                 column_name  percent_missing
ID                        ID             0.00
N_Days                N_Days             0.00
Status                Status             0.00
Drug                    Drug            30.09
Age                      Age             0.00
Sex                      Sex             0.00
Ascites              Ascites            33.97
Hepatomegaly    Hepatomegaly            34.44
Spiders              Spiders            37.50
Edema                  Edema             0.00
Bilirubin          Bilirubin             0.00
Cholesterol      Cholesterol            44.84
Albumin              Albumin             0.00
Copper                Copper            31.44
Alk_Phos            Alk_Phos            36.50
SGOT                    SGOT            30.84
Tryglicerides  Tryglicerides            40.19
Platelets          Platelets             5.12
Prothrombin      Prothrombin             2.00

In [ ]:
test_df = test_df.fillna(method = 'bfill')

In [ ]:
test_df.dropna()

        ID  N_Days Status  ... Tryglicerides  Platelets Prothrombin
0     3870      41      C  ...         129.0      169.0        11.6
1     3462    1811      C  ...         129.0      321.0        11.5
2     1632     954      C  ...         129.0      296.0        10.3
3      722    1969      D  ...         129.0      125.0        10.9
4     1000    2721      D  ...         129.0      138.0        10.6
...    ...     ...    ...  ...           ...        ...         ...
3194  4118    4324      C  ...         166.0      207.0         9.7
3195  2601    4513      D  ...         166.0      563.0        10.9
3196    53    3281      D  ...         166.0      234.0        10.2
3197   386    1933      D  ...         131.0      234.0        11.6
3198   920    2350      D  ...         130.0      110.0        10.3

[3199 rows x 19 columns]

In [ ]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3200 entries, 0 to 3199
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             3200 non-null   int64
 1   N_Days         3200 non-null   int64
 2   Status         3200 non-null   object
 3   Drug           3200 non-null   object
 4   Age            3200 non-null   int64
 5   Sex            3200 non-null   object
 6   Ascites        3200 non-null   object
 7   Hepatomegaly   3200 non-null   object
 8   Spiders        3200 non-null   object
 9   Edema          3200 non-null   object
 10  Bilirubin      3200 non-null   float64
 11  Cholesterol    3199 non-null   float64
 12  Albumin        3200 non-null   float64
 13  Copper         3200 non-null   float64
 14  Alk_Phos       3200 non-null   float64
 15  SGOT           3199 non-null   float64
 16  Tryglicerides  3200 non-null   float64
 17  Platelets      3200 non-null   float64
 18  Prothrombin    3200 non-null   float64
dtypes: float64(9), int64(3), object(7)
memory usage: 475.1+ KB

In [ ]:
le = LabelEncoder()

In [ ]:
train_df.Status = le.fit_transform(train_df.Status)
train_df.Drug = le.fit_transform(train_df.Drug)
train_df.Sex = le.fit_transform(train_df.Sex)
train_df.Cholesterol = le.fit_transform(train_df.Cholesterol)
train_df.Ascites = le.fit_transform(train_df.Ascites)
train_df.Hepatomegaly = le.fit_transform(train_df.Hepatomegaly)
train_df.Spiders = le.fit_transform(train_df.Spiders)
train_df.Edema = le.fit_transform(train_df.Edema)
train_df.Albumin = le.fit_transform(train_df.Albumin)
train_df.Copper= le.fit_transform(train_df.Copper)
train_df.Alk_Phos= le.fit_transform(train_df.Alk_Phos)
train_df.SGOT= le.fit_transform(train_df.SGOT)
train_df.Tryglicerides= le.fit_transform(train_df.Tryglicerides)
train_df.Platelets = le.fit_transform(train_df.Platelets)
train_df.Prothrombin = le.fit_transform(train_df.Prothrombin)

In [ ]:
test_df.Status = le.fit_transform(test_df.Status)
test_df.Drug = le.fit_transform(test_df.Drug)
test_df.Sex = le.fit_transform(test_df.Sex)
test_df.Ascites = le.fit_transform(test_df.Ascites)
test_df.Hepatomegaly = le.fit_transform(test_df.Hepatomegaly)
test_df.Spiders = le.fit_transform(test_df.Spiders)
test_df.Edema = le.fit_transform(test_df.Edema)
test_df.Albumin = le.fit_transform(test_df.Albumin)
test_df.Copper= le.fit_transform(test_df.Copper)
test_df.Alk_Phos= le.fit_transform(test_df.Alk_Phos)
test_df.SGOT= le.fit_transform(test_df.SGOT)
test_df.Tryglicerides= le.fit_transform(test_df.Tryglicerides)
test_df.Platelets = le.fit_transform(test_df.Platelets)
test_df.Prothrombin = le.fit_transform(test_df.Prothrombin)

In [ ]:
train_df['Age']= train_df['Age'].astype('int64')
train_df['Bilirubin']= train_df['Bilirubin'].astype('int64')
train_df['Cholesterol']= train_df['Cholesterol'].astype('int64')
train_df['Albumin']= train_df['Albumin'].astype('int64')
train_df['Copper']= train_df['Copper'].astype('int64')
train_df['Alk_Phos']= train_df['Alk_Phos'].astype('int64')
train_df['SGOT']= train_df['SGOT'].astype('int64')
train_df['Tryglicerides']= train_df['Tryglicerides'].astype('int64')
train_df['Platelets']= train_df['Platelets'].astype('int64')
train_df['Prothrombin']= train_df['Prothrombin'].astype('int64')




test_df['Age']= test_df['Age'].astype('int64')
test_df['Bilirubin']= test_df['Bilirubin'].astype('int64')
test_df['Cholesterol']= test_df['Cholesterol'].astype('Int64')
test_df['Albumin']= test_df['Albumin'].astype('int64')
test_df['Copper']= test_df['Copper'].astype('int64')
test_df['Alk_Phos']= test_df['Alk_Phos'].astype('int64')
test_df['SGOT']= test_df['SGOT'].astype('int64')
test_df['Tryglicerides']= test_df['Tryglicerides'].astype('int64')
test_df['Platelets']= test_df['Platelets'].astype('int64')
test_df['Prothrombin']= test_df['Prothrombin'].astype('int64')

In [ ]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3200 entries, 0 to 3199
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             3200 non-null   int64
 1   N_Days         3200 non-null   int64
 2   Status         3200 non-null   int64
 3   Drug           3200 non-null   int64
 4   Age            3200 non-null   int64
 5   Sex            3200 non-null   int64
 6   Ascites        3200 non-null   int64
 7   Hepatomegaly   3200 non-null   int64
 8   Spiders        3200 non-null   int64
 9   Edema          3200 non-null   int64
 10  Bilirubin      3200 non-null   int64
 11  Cholesterol    3199 non-null   Int64
 12  Albumin        3200 non-null   int64
 13  Copper         3200 non-null   int64
 14  Alk_Phos       3200 non-null   int64
 15  SGOT           3200 non-null   int64
 16  Tryglicerides  3200 non-null   int64
 17  Platelets      3200 non-null   int64
 18  Prothrombin    3200 non-null   int64
dtypes: Int64(1), int64(18)
memory usage: 478.2 KB

In [ ]:
x_1 = train_df.loc[train_df['Stage'] == 1.0]
x_2 = train_df.loc[train_df['Stage'] == 2.0]
x_3 = train_df.loc[train_df['Stage'] == 3.0]
x_4 = train_df.loc[train_df['Stage'] == 4.0]

In [ ]:
x_1

        ID  N_Days  Status  Drug  ...  Tryglicerides  Platelets  Prothrombin  Stage
1     7326      41       0     0  ...             98        245           18    1.0
31    7577    1343       2     0  ...             78        215            9    1.0
47    6760    4658       0     2  ...            100         41           23    1.0
51    4312    2762       2     1  ...            212        498           10    1.0
77    6055      41       2     2  ...            268        142           30    1.0
...    ...     ...     ...   ...  ...            ...        ...          ...    ...
6763  5668     152       0     1  ...             74        305           46    1.0
6771  9807    2944       2     2  ...            164        497            5    1.0
6785  4175    2578       2     1  ...             77        497           27    1.0
6795  4622    1762       0     1  ...             97        251           39    1.0
6797  4082     584       0     2  ...             90         40            3    1.0

[465 rows x 20 columns]

In [ ]:
x_2_1 = x_2.iloc[:753]
x_2_2 = x_2.iloc[754:1507]
print(len(x_2_1),len(x_2_2))

753 753

In [ ]:
x_3_1 = x_3.iloc[:660]
x_3_2 = x_3.iloc[661:1322]
print(len(x_3_1),len(x_3_2))

660 661

In [ ]:
x_4_1 = x_4.iloc[:875]
x_4_2 = x_4.iloc[876:1751]
x_4_3 = x_4.iloc[1752:2627]
x_4_4 = x_4.iloc[2628:3504]
print(len(x_4_1),len(x_4_2),len(x_4_3),len(x_4_4))

875 875 875 876

In [ ]:
x_1 = pd.concat([x_1,x_2_1,x_3_1,x_4_1])
x_2 = pd.concat([x_1,x_2_1,x_3_1,x_4_2])
x_3 = pd.concat([x_1,x_2_1,x_3_1,x_4_2])
x_4 = pd.concat([x_1,x_2_1,x_3_1,x_4_4])
x_5 = pd.concat([x_1,x_2_2,x_3_1,x_4_1])
x_6 = pd.concat([x_1,x_2_2,x_3_1,x_4_2])
x_7 = pd.concat([x_1,x_2_2,x_3_1,x_4_3])
x_8 = pd.concat([x_1,x_2_2,x_3_1,x_4_4])

In [ ]:
x_1,x_2,x_3,x_4,x_5,x_6,x_7,x_8

(        ID  N_Days  Status  Drug  ...  Tryglicerides  Platelets  Prothrombin  Stage
 1     7326      41       0     0  ...             98        245           18    1.0
 31    7577    1343       2     0  ...             78        215            9    1.0
 47    6760    4658       0     2  ...            100         41           23    1.0
 51    4312    2762       2     1  ...            212        498           10    1.0
 77    6055      41       2     2  ...            268        142           30    1.0
 ...    ...     ...     ...   ...  ...            ...        ...          ...    ...
 1665  1412    1310       1     0  ...            268        109            9    4.0
 1666  7009    2164       2     2  ...             88        462           21    4.0
 1668  5775    2185       0     0  ...             95        397           19    4.0
 1673  2958      41       0     0  ...             91        182           64    4.0
 1674  2473      41       0     2  ...            268        497           13    4.0

 [2753 rows x 20 columns],
         ID  N_Days  Status  Drug  ...  Tryglicerides  Platelets  Prothrombin  Stage
 1     7326      41       0     0  ...             98        245           18    1.0
 31    7577    1343       2     0  ...             78        215            9    1.0
 47    6760    4658       0     2  ...            100         41           23    1.0
 51    4312    2762       2     1  ...            212        498           10    1.0
 77    6055      41       2     2  ...            268        142           30    1.0
 ...    ...     ...     ...   ...  ...            ...        ...          ...    ...
 3380  6670    2322       2     2  ...             85        128           17    4.0
 3382  6544      41       0     2  ...            268        189           26    4.0
 3384  9847    2151       2     0  ...            268        144           18    4.0
 3386  5576     216       2     0  ...            268        209           15    4.0
 3388  1972      41       0     2  ...             87        145           13    4.0

 [5041 rows x 20 columns],
         ID  N_Days  Status  Drug  ...  Tryglicerides  Platelets  Prothrombin  Stage
 1     7326      41       0     0  ...             98        245           18    1.0
 31    7577    1343       2     0  ...             78        215            9    1.0
 47    6760    4658       0     2  ...            100         41           23    1.0
 51    4312    2762       2     1  ...            212        498           10    1.0
 77    6055      41       2     2  ...            268        142           30    1.0
 ...    ...     ...     ...   ...  ...            ...        ...          ...    ...
 3380  6670    2322       2     2  ...             85        128           17    4.0
 3382  6544      41       0     2  ...            268        189           26    4.0
 3384  9847    2151       2     0  ...            268        144           18    4.0
 3386  5576     216       2     0  ...            268        209           15    4.0
 3388  1972      41       0     2  ...             87        145           13    4.0

 [5041 rows x 20 columns],
         ID  N_Days  Status  Drug  ...  Tryglicerides  Platelets  Prothrombin  Stage
 1     7326      41       0     0  ...             98        245           18    1.0
 31    7577    1343       2     0  ...             78        215            9    1.0
 47    6760    4658       0     2  ...            100         41           23    1.0
 51    4312    2762       2     1  ...            212        498           10    1.0
 77    6055      41       2     2  ...            268        142           30    1.0
 ...    ...     ...     ...   ...  ...            ...        ...          ...    ...
 6787  9505     787       2     2  ...            268        279           30    4.0
 6788  3014    2126       2     0  ...            175        381           26    4.0
 6790  9794    4021       2     2  ...             35        184           25    4.0
 6791  8889     334       2     0  ...            268         71           19    4.0
 6793  2152    3353       0     0  ...            140        207           20    4.0

 [5042 rows x 20 columns],
         ID  N_Days  Status  Drug  ...  Tryglicerides  Platelets  Prothrombin  Stage
 1     7326      41       0     0  ...             98        245           18    1.0
 31    7577    1343       2     0  ...             78        215            9    1.0
 47    6760    4658       0     2  ...            100         41           23    1.0
 51    4312    2762       2     1  ...            212        498           10    1.0
 77    6055      41       2     2  ...            268        142           30    1.0
 ...    ...     ...     ...   ...  ...            ...        ...          ...    ...
 1665  1412    1310       1     0  ...            268        109            9    4.0
 1666  7009    2164       2     2  ...             88        462           21    4.0
 1668  5775    2185       0     0  ...             95        397           19    4.0
 1673  2958      41       0     0  ...             91        182           64    4.0
 1674  2473      41       0     2  ...            268        497           13    4.0

 [5041 rows x 20 columns],
         ID  N_Days  Status  Drug  ...  Tryglicerides  Platelets  Prothrombin  Stage
 1     7326      41       0     0  ...             98        245           18    1.0
 31    7577    1343       2     0  ...             78        215            9    1.0
 47    6760    4658       0     2  ...            100         41           23    1.0
 51    4312    2762       2     1  ...            212        498           10    1.0
 77    6055      41       2     2  ...            268        142           30    1.0
 ...    ...     ...     ...   ...  ...            ...        ...          ...    ...
 3380  6670    2322       2     2  ...             85        128           17    4.0
 3382  6544      41       0     2  ...            268        189           26    4.0
 3384  9847    2151       2     0  ...            268        144           18    4.0
 3386  5576     216       2     0  ...            268        209           15    4.0
 3388  1972      41       0     2  ...             87        145           13    4.0

 [5041 rows x 20 columns],
         ID  N_Days  Status  Drug  ...  Tryglicerides  Platelets  Prothrombin  Stage
 1     7326      41       0     0  ...             98        245           18    1.0
 31    7577    1343       2     0  ...             78        215            9    1.0
 47    6760    4658       0     2  ...            100         41           23    1.0
 51    4312    2762       2     1  ...            212        498           10    1.0
 77    6055      41       2     2  ...            268        142           30    1.0
 ...    ...     ...     ...   ...  ...            ...        ...          ...    ...
 5044  6251     339       2     0  ...             82        498           24    4.0
 5045  4127    4601       0     0  ...             78        253            7    4.0
 5048  7599    4795       1     2  ...            268         86           24    4.0
 5049  4996      41       2     1  ...             12          0           17    4.0
 5055  4489    1273       0     2  ...            268        144           24    4.0

 [5041 rows x 20 columns],
         ID  N_Days  Status  Drug  ...  Tryglicerides  Platelets  Prothrombin  Stage
 1     7326      41       0     0  ...             98        245           18    1.0
 31    7577    1343       2     0  ...             78        215            9    1.0
 47    6760    4658       0     2  ...            100         41           23    1.0
 51    4312    2762       2     1  ...            212        498           10    1.0
 77    6055      41       2     2  ...            268        142           30    1.0
 ...    ...     ...     ...   ...  ...            ...        ...          ...    ...
 6787  9505     787       2     2  ...            268        279           30    4.0
 6788  3014    2126       2     0  ...            175        381           26    4.0
 6790  9794    4021       2     2  ...             35        184           25    4.0
 6791  8889     334       2     0  ...            268         71           19    4.0
 6793  2152    3353       0     0  ...            140        207           20    4.0

 [5042 rows x 20 columns])

In [ ]:
x_1 = x_1.sample(frac=1).reset_index(drop=True)
x_2 = x_2.sample(frac=1).reset_index(drop=True)
x_3 = x_3.sample(frac=1).reset_index(drop=True)
x_4 = x_4.sample(frac=1).reset_index(drop=True)
x_5 = x_5.sample(frac=1).reset_index(drop=True)
x_6 = x_6.sample(frac=1).reset_index(drop=True)
x_7 = x_7.sample(frac=1).reset_index(drop=True)
x_8 = x_8.sample(frac=1).reset_index(drop=True)

In [ ]:
x_1,x_2,x_3,x_4,x_5,x_6,x_7,x_8

(        ID  N_Days  Status  Drug  ...  Tryglicerides  Platelets  Prothrombin  Stage
 0     2473      41       0     2  ...            268        497           13    4.0
 1     2820     332       2     0  ...             79        363           21    4.0
 2     7941     112       2     2  ...             87        278           23    3.0
 3     4832     890       0     1  ...             87        177           20    2.0
 4     7589    2587       0     2  ...            268        289           15    2.0
 ...    ...     ...     ...   ...  ...            ...        ...          ...    ...
 2748  9197     166       0     2  ...             89        191           16    2.0
 2749  5573    2997       2     2  ...              0        253           11    4.0
 2750  6062    1958       0     2  ...            268        301           21    4.0
 2751  7366     989       2     2  ...            268        366           52    3.0
 2752  4265    3781       2     0  ...            268        285           22    1.0

 [2753 rows x 20 columns],
         ID  N_Days  Status  Drug  ...  Tryglicerides  Platelets  Prothrombin  Stage
 0     9951    1532       0     1  ...             84        132           23    1.0
 1     6304    4791       0     2  ...             96        194           22    3.0
 2     9312      41       0     2  ...             92        498           19    3.0
 3     8254    2794       2     0  ...            268        497            9    3.0
 4     2545     518       2     2  ...             99        497           46    2.0
 ...    ...     ...     ...   ...  ...            ...        ...          ...    ...
 5036  2494     426       0     2  ...            268        230           14    4.0
 5037  6896      41       2     0  ...            268          0            0    2.0
 5038  5311    2494       0     0  ...            268        306           58    4.0
 5039  8888    1491       0     2  ...             80        323           41    2.0
 5040  9339    3049       0     2  ...            268        230           34    3.0

 [5041 rows x 20 columns],
         ID  N_Days  Status  Drug  ...  Tryglicerides  Platelets  Prothrombin  Stage
 0     3833      41       0     0  ...            268          0           18    2.0
 1     3669      41       0     1  ...            168        212           18    2.0
 2     7280    1061       0     0  ...             12        116           16    3.0
 3     3610    2100       0     2  ...            112        361           58    4.0
 4     8957    1451       2     1  ...              5        207           16    3.0
 ...    ...     ...     ...   ...  ...            ...        ...          ...    ...
 5036  7728    1136       1     0  ...             78         55           20    3.0
 5037  7141    3354       2     0  ...            125        350           13    3.0
 5038  5708      41       2     0  ...            268        122           46    1.0
 5039  5471    1514       0     1  ...            268        283           14    4.0
 5040  4093    4418       2     0  ...             91        300           24    4.0

 [5041 rows x 20 columns],
         ID  N_Days  Status  Drug  ...  Tryglicerides  Platelets  Prothrombin  Stage
 0     6335     311       1     1  ...             94        134           23    4.0
 1     5655      41       0     0  ...            268        143           12    4.0
 2     9254    2458       2     2  ...             62         90           10    3.0
 3     6453    2185       0     2  ...             28        498           16    3.0
 4     8787     992       0     2  ...             42        300           14    4.0
 ...    ...     ...     ...   ...  ...            ...        ...          ...    ...
 5037  5181     449       0     1  ...            122        109           58    2.0
 5038  8564    1451       0     0  ...            268        414           20    3.0
 5039  5715    2594       0     2  ...            268        441           25    2.0
 5040  7744      41       0     0  ...            268        178           12    2.0
 5041  5678     761       1     1  ...            107        389           42    4.0

 [5042 rows x 20 columns],
         ID  N_Days  Status  Drug  ...  Tryglicerides  Platelets  Prothrombin  Stage
 0     8957    1451       2     1  ...              5        207           16    3.0
 1     6705     862       1     0  ...            105        310           24    2.0
 2     6243      41       0     1  ...            102        247            1    2.0
 3     5523    2116       0     2  ...            202        241           18    2.0
 4     9703    1077       0     1  ...             78         91           18    3.0
 ...    ...     ...     ...   ...  ...            ...        ...          ...    ...
 5036  6520    1190       0     2  ...            268        243           16    1.0
 5037  4023     796       0     0  ...             66        413           68    2.0
 5038  9934    1779       0     0  ...            268        243           18    4.0
 5039  2622     458       0     1  ...            268        311           16    2.0
 5040  9879    1549       2     1  ...            268        183           22    1.0

 [5041 rows x 20 columns],
         ID  N_Days  Status  Drug  ...  Tryglicerides  Platelets  Prothrombin  Stage
 0     5858    1189       0     2  ...             99        226           68    1.0
 1     7292     730       2     0  ...            100        161           18    4.0
 2     4064     670       0     2  ...            268        166           30    4.0
 3     7810    4023       0     0  ...            148        265           19    4.0
 4     9089    1750       2     0  ...            268        204           21    3.0
 ...    ...     ...     ...   ...  ...            ...        ...          ...    ...
 5036  8904    4233       0     2  ...            268        227           25    3.0
 5037  7731    2530       2     2  ...            268        342           26    1.0
 5038  2392     224       0     2  ...             85        497           19    4.0
 5039  7741    1171       2     2  ...             93        100            9    2.0
 5040  8767    3403       0     0  ...            268        290           25    3.0

 [5041 rows x 20 columns],
         ID  N_Days  Status  Drug  ...  Tryglicerides  Platelets  Prothrombin  Stage
 0     4971    4795       0     2  ...            268         96           19    4.0
 1     9210    1865       0     0  ...            268        118           15    4.0
 2     8507      41       2     2  ...            268        241           26    2.0
 3     9532    2797       2     2  ...            268        268           26    2.0
 4     3635    4124       2     0  ...             67        192           28    2.0
 ...    ...     ...     ...   ...  ...            ...        ...          ...    ...
 5036  2708    1623       0     2  ...            268         40           24    4.0
 5037  2464      41       2     1  ...             75        421           52    4.0
 5038  3021    1146       0     0  ...            268         80           56    4.0
 5039  7547    2150       0     1  ...             97        472           27    3.0
 5040  6440    4076       0     1  ...            107        302           17    2.0

 [5041 rows x 20 columns],
         ID  N_Days  Status  Drug  ...  Tryglicerides  Platelets  Prothrombin  Stage
 0     5861    1296       0     2  ...            161        157           19    4.0
 1     9624    2089       2     1  ...             94        166           19    2.0
 2     6149     747       1     1  ...            101        228           18    3.0
 3     6193    1185       0     2  ...            177        354           17    2.0
 4     6730    3607       2     0  ...             88        115            1    3.0
 ...    ...     ...     ...   ...  ...            ...        ...          ...    ...
 5037  6827    2139       0     2  ...            124        417           23    4.0
 5038  6181    1502       0     1  ...            268        469           29    2.0
 5039  8040     842       2     0  ...            268         93           15    3.0
 5040  5727    1521       0     0  ...            157        309           36    4.0
 5041  8297    2162       0     0  ...            185        291           26    3.0

 [5042 rows x 20 columns])

In [ ]:
x_1.info(),x_2.info(),x_3.info(),x_4.info(),x_5.info(),x_6.info(),x_7.info(),x_8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2753 entries, 0 to 2752
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             2753 non-null   int64
 1   N_Days         2753 non-null   int64
 2   Status         2753 non-null   int64
 3   Drug           2753 non-null   int64
 4   Age            2753 non-null   int64
 5   Sex            2753 non-null   int64
 6   Ascites        2753 non-null   int64
 7   Hepatomegaly   2753 non-null   int64
 8   Spiders        2753 non-null   int64
 9   Edema          2753 non-null   int64
 10  Bilirubin      2753 non-null   int64
 11  Cholesterol    2753 non-null   int64
 12  Albumin        2753 non-null   int64
 13  Copper         2753 non-null   int64
 14  Alk_Phos       2753 non-null   int64
 15  SGOT           2753 non-null   int64
 16  Tryglicerides  2753 non-null   int64
 17  Platelets      2753 non-null   int64
 18  Prothrombin    2753 non-null   int64
 19  Stage          2753 non-null   float64
dtypes: float64(1), int64(19)
memory usage: 430.3 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5041 entries, 0 to 5040
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             5041 non-null   int64
 1   N_Days         5041 non-null   int64
 2   Status         5041 non-null   int64
 3   Drug           5041 non-null   int64
 4   Age            5041 non-null   int64
 5   Sex            5041 non-null   int64
 6   Ascites        5041 non-null   int64
 7   Hepatomegaly   5041 non-null   int64
 8   Spiders        5041 non-null   int64
 9   Edema          5041 non-null   int64
 10  Bilirubin      5041 non-null   int64
 11  Cholesterol    5041 non-null   int64
 12  Albumin        5041 non-null   int64
 13  Copper         5041 non-null   int64
 14  Alk_Phos       5041 non-null   int64
 15  SGOT           5041 non-null   int64
 16  Tryglicerides  5041 non-null   int64
 17  Platelets      5041 non-null   int64
 18  Prothrombin    5041 non-null   int64
 19  Stage          5041 non-null   float64
dtypes: float64(1), int64(19)
memory usage: 787.8 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5041 entries, 0 to 5040
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             5041 non-null   int64
 1   N_Days         5041 non-null   int64
 2   Status         5041 non-null   int64
 3   Drug           5041 non-null   int64
 4   Age            5041 non-null   int64
 5   Sex            5041 non-null   int64
 6   Ascites        5041 non-null   int64
 7   Hepatomegaly   5041 non-null   int64
 8   Spiders        5041 non-null   int64
 9   Edema          5041 non-null   int64
 10  Bilirubin      5041 non-null   int64
 11  Cholesterol    5041 non-null   int64
 12  Albumin        5041 non-null   int64
 13  Copper         5041 non-null   int64
 14  Alk_Phos       5041 non-null   int64
 15  SGOT           5041 non-null   int64
 16  Tryglicerides  5041 non-null   int64
 17  Platelets      5041 non-null   int64
 18  Prothrombin    5041 non-null   int64
 19  Stage          5041 non-null   float64
dtypes: float64(1), int64(19)
memory usage: 787.8 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5042 entries, 0 to 5041
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             5042 non-null   int64
 1   N_Days         5042 non-null   int64
 2   Status         5042 non-null   int64
 3   Drug           5042 non-null   int64
 4   Age            5042 non-null   int64
 5   Sex            5042 non-null   int64
 6   Ascites        5042 non-null   int64
 7   Hepatomegaly   5042 non-null   int64
 8   Spiders        5042 non-null   int64
 9   Edema          5042 non-null   int64
 10  Bilirubin      5042 non-null   int64
 11  Cholesterol    5042 non-null   int64
 12  Albumin        5042 non-null   int64
 13  Copper         5042 non-null   int64
 14  Alk_Phos       5042 non-null   int64
 15  SGOT           5042 non-null   int64
 16  Tryglicerides  5042 non-null   int64
 17  Platelets      5042 non-null   int64
 18  Prothrombin    5042 non-null   int64
 19  Stage          5042 non-null   float64
dtypes: float64(1), int64(19)
memory usage: 787.9 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5041 entries, 0 to 5040
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             5041 non-null   int64
 1   N_Days         5041 non-null   int64
 2   Status         5041 non-null   int64
 3   Drug           5041 non-null   int64
 4   Age            5041 non-null   int64
 5   Sex            5041 non-null   int64
 6   Ascites        5041 non-null   int64
 7   Hepatomegaly   5041 non-null   int64
 8   Spiders        5041 non-null   int64
 9   Edema          5041 non-null   int64
 10  Bilirubin      5041 non-null   int64
 11  Cholesterol    5041 non-null   int64
 12  Albumin        5041 non-null   int64
 13  Copper         5041 non-null   int64
 14  Alk_Phos       5041 non-null   int64
 15  SGOT           5041 non-null   int64
 16  Tryglicerides  5041 non-null   int64
 17  Platelets      5041 non-null   int64
 18  Prothrombin    5041 non-null   int64
 19  Stage          5041 non-null   float64
dtypes: float64(1), int64(19)
memory usage: 787.8 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5041 entries, 0 to 5040
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             5041 non-null   int64
 1   N_Days         5041 non-null   int64
 2   Status         5041 non-null   int64
 3   Drug           5041 non-null   int64
 4   Age            5041 non-null   int64
 5   Sex            5041 non-null   int64
 6   Ascites        5041 non-null   int64
 7   Hepatomegaly   5041 non-null   int64
 8   Spiders        5041 non-null   int64
 9   Edema          5041 non-null   int64
 10  Bilirubin      5041 non-null   int64
 11  Cholesterol    5041 non-null   int64
 12  Albumin        5041 non-null   int64
 13  Copper         5041 non-null   int64
 14  Alk_Phos       5041 non-null   int64
 15  SGOT           5041 non-null   int64
 16  Tryglicerides  5041 non-null   int64
 17  Platelets      5041 non-null   int64
 18  Prothrombin    5041 non-null   int64
 19  Stage          5041 non-null   float64
dtypes: float64(1), int64(19)
memory usage: 787.8 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5041 entries, 0 to 5040
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             5041 non-null   int64
 1   N_Days         5041 non-null   int64
 2   Status         5041 non-null   int64
 3   Drug           5041 non-null   int64
 4   Age            5041 non-null   int64
 5   Sex            5041 non-null   int64
 6   Ascites        5041 non-null   int64
 7   Hepatomegaly   5041 non-null   int64
 8   Spiders        5041 non-null   int64
 9   Edema          5041 non-null   int64
 10  Bilirubin      5041 non-null   int64
 11  Cholesterol    5041 non-null   int64
 12  Albumin        5041 non-null   int64
 13  Copper         5041 non-null   int64
 14  Alk_Phos       5041 non-null   int64
 15  SGOT           5041 non-null   int64
 16  Tryglicerides  5041 non-null   int64
 17  Platelets      5041 non-null   int64
 18  Prothrombin    5041 non-null   int64
 19  Stage          5041 non-null   float64
dtypes: float64(1), int64(19)
memory usage: 787.8 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5042 entries, 0 to 5041
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             5042 non-null   int64
 1   N_Days         5042 non-null   int64
 2   Status         5042 non-null   int64
 3   Drug           5042 non-null   int64
 4   Age            5042 non-null   int64
 5   Sex            5042 non-null   int64
 6   Ascites        5042 non-null   int64
 7   Hepatomegaly   5042 non-null   int64
 8   Spiders        5042 non-null   int64
 9   Edema          5042 non-null   int64
 10  Bilirubin      5042 non-null   int64
 11  Cholesterol    5042 non-null   int64
 12  Albumin        5042 non-null   int64
 13  Copper         5042 non-null   int64
 14  Alk_Phos       5042 non-null   int64
 15  SGOT           5042 non-null   int64
 16  Tryglicerides  5042 non-null   int64
 17  Platelets      5042 non-null   int64
 18  Prothrombin    5042 non-null   int64
 19  Stage          5042 non-null   float64
dtypes: float64(1), int64(19)
memory usage: 787.9 KB

(None, None, None, None, None, None, None, None)

In [ ]:
x_1,x_2,x_3,x_4,x_5,x_6,x_7,x_8

(        ID  N_Days  Status  Drug  ...  Tryglicerides  Platelets  Prothrombin  Stage
 0     2473      41       0     2  ...            268        497           13    4.0
 1     2820     332       2     0  ...             79        363           21    4.0
 2     7941     112       2     2  ...             87        278           23    3.0
 3     4832     890       0     1  ...             87        177           20    2.0
 4     7589    2587       0     2  ...            268        289           15    2.0
 ...    ...     ...     ...   ...  ...            ...        ...          ...    ...
 2748  9197     166       0     2  ...             89        191           16    2.0
 2749  5573    2997       2     2  ...              0        253           11    4.0
 2750  6062    1958       0     2  ...            268        301           21    4.0
 2751  7366     989       2     2  ...            268        366           52    3.0
 2752  4265    3781       2     0  ...            268        285           22    1.0

 [2753 rows x 20 columns],
         ID  N_Days  Status  Drug  ...  Tryglicerides  Platelets  Prothrombin  Stage
 0     9951    1532       0     1  ...             84        132           23    1.0
 1     6304    4791       0     2  ...             96        194           22    3.0
 2     9312      41       0     2  ...             92        498           19    3.0
 3     8254    2794       2     0  ...            268        497            9    3.0
 4     2545     518       2     2  ...             99        497           46    2.0
 ...    ...     ...     ...   ...  ...            ...        ...          ...    ...
 5036  2494     426       0     2  ...            268        230           14    4.0
 5037  6896      41       2     0  ...            268          0            0    2.0
 5038  5311    2494       0     0  ...            268        306           58    4.0
 5039  8888    1491       0     2  ...             80        323           41    2.0
 5040  9339    3049       0     2  ...            268        230           34    3.0

 [5041 rows x 20 columns],
         ID  N_Days  Status  Drug  ...  Tryglicerides  Platelets  Prothrombin  Stage
 0     3833      41       0     0  ...            268          0           18    2.0
 1     3669      41       0     1  ...            168        212           18    2.0
 2     7280    1061       0     0  ...             12        116           16    3.0
 3     3610    2100       0     2  ...            112        361           58    4.0
 4     8957    1451       2     1  ...              5        207           16    3.0
 ...    ...     ...     ...   ...  ...            ...        ...          ...    ...
 5036  7728    1136       1     0  ...             78         55           20    3.0
 5037  7141    3354       2     0  ...            125        350           13    3.0
 5038  5708      41       2     0  ...            268        122           46    1.0
 5039  5471    1514       0     1  ...            268        283           14    4.0
 5040  4093    4418       2     0  ...             91        300           24    4.0

 [5041 rows x 20 columns],
         ID  N_Days  Status  Drug  ...  Tryglicerides  Platelets  Prothrombin  Stage
 0     6335     311       1     1  ...             94        134           23    4.0
 1     5655      41       0     0  ...            268        143           12    4.0
 2     9254    2458       2     2  ...             62         90           10    3.0
 3     6453    2185       0     2  ...             28        498           16    3.0
 4     8787     992       0     2  ...             42        300           14    4.0
 ...    ...     ...     ...   ...  ...            ...        ...          ...    ...
 5037  5181     449       0     1  ...            122        109           58    2.0
 5038  8564    1451       0     0  ...            268        414           20    3.0
 5039  5715    2594       0     2  ...            268        441           25    2.0
 5040  7744      41       0     0  ...            268        178           12    2.0
 5041  5678     761       1     1  ...            107        389           42    4.0

 [5042 rows x 20 columns],
         ID  N_Days  Status  Drug  ...  Tryglicerides  Platelets  Prothrombin  Stage
 0     8957    1451       2     1  ...              5        207           16    3.0
 1     6705     862       1     0  ...            105        310           24    2.0
 2     6243      41       0     1  ...            102        247            1    2.0
 3     5523    2116       0     2  ...            202        241           18    2.0
 4     9703    1077       0     1  ...             78         91           18    3.0
 ...    ...     ...     ...   ...  ...            ...        ...          ...    ...
 5036  6520    1190       0     2  ...            268        243           16    1.0
 5037  4023     796       0     0  ...             66        413           68    2.0
 5038  9934    1779       0     0  ...            268        243           18    4.0
 5039  2622     458       0     1  ...            268        311           16    2.0
 5040  9879    1549       2     1  ...            268        183           22    1.0

 [5041 rows x 20 columns],
         ID  N_Days  Status  Drug  ...  Tryglicerides  Platelets  Prothrombin  Stage
 0     5858    1189       0     2  ...             99        226           68    1.0
 1     7292     730       2     0  ...            100        161           18    4.0
 2     4064     670       0     2  ...            268        166           30    4.0
 3     7810    4023       0     0  ...            148        265           19    4.0
 4     9089    1750       2     0  ...            268        204           21    3.0
 ...    ...     ...     ...   ...  ...            ...        ...          ...    ...
 5036  8904    4233       0     2  ...            268        227           25    3.0
 5037  7731    2530       2     2  ...            268        342           26    1.0
 5038  2392     224       0     2  ...             85        497           19    4.0
 5039  7741    1171       2     2  ...             93        100            9    2.0
 5040  8767    3403       0     0  ...            268        290           25    3.0

 [5041 rows x 20 columns],
         ID  N_Days  Status  Drug  ...  Tryglicerides  Platelets  Prothrombin  Stage
 0     4971    4795       0     2  ...            268         96           19    4.0
 1     9210    1865       0     0  ...            268        118           15    4.0
 2     8507      41       2     2  ...            268        241           26    2.0
 3     9532    2797       2     2  ...            268        268           26    2.0
 4     3635    4124       2     0  ...             67        192           28    2.0
 ...    ...     ...     ...   ...  ...            ...        ...          ...    ...
 5036  2708    1623       0     2  ...            268         40           24    4.0
 5037  2464      41       2     1  ...             75        421           52    4.0
 5038  3021    1146       0     0  ...            268         80           56    4.0
 5039  7547    2150       0     1  ...             97        472           27    3.0
 5040  6440    4076       0     1  ...            107        302           17    2.0

 [5041 rows x 20 columns],
         ID  N_Days  Status  Drug  ...  Tryglicerides  Platelets  Prothrombin  Stage
 0     5861    1296       0     2  ...            161        157           19    4.0
 1     9624    2089       2     1  ...             94        166           19    2.0
 2     6149     747       1     1  ...            101        228           18    3.0
 3     6193    1185       0     2  ...            177        354           17    2.0
 4     6730    3607       2     0  ...             88        115            1    3.0
 ...    ...     ...     ...   ...  ...            ...        ...          ...    ...
 5037  6827    2139       0     2  ...            124        417           23    4.0
 5038  6181    1502       0     1  ...            268        469           29    2.0
 5039  8040     842       2     0  ...            268         93           15    3.0
 5040  5727    1521       0     0  ...            157        309           36    4.0
 5041  8297    2162       0     0  ...            185        291           26    3.0

 [5042 rows x 20 columns])

In [ ]:
x_1.info()
x_2.info()
x_3.info()
x_4.info()
x_5.info()
x_6.info()
x_7.info()
x_8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2753 entries, 0 to 2752
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             2753 non-null   int64
 1   N_Days         2753 non-null   int64
 2   Status         2753 non-null   int64
 3   Drug           2753 non-null   int64
 4   Age            2753 non-null   int64
 5   Sex            2753 non-null   int64
 6   Ascites        2753 non-null   int64
 7   Hepatomegaly   2753 non-null   int64
 8   Spiders        2753 non-null   int64
 9   Edema          2753 non-null   int64
 10  Bilirubin      2753 non-null   int64
 11  Cholesterol    2753 non-null   int64
 12  Albumin        2753 non-null   int64
 13  Copper         2753 non-null   int64
 14  Alk_Phos       2753 non-null   int64
 15  SGOT           2753 non-null   int64
 16  Tryglicerides  2753 non-null   int64
 17  Platelets      2753 non-null   int64
 18  Prothrombin    2753 non-null   int64
 19  Stage          2753 non-null   float64
dtypes: float64(1), int64(19)
memory usage: 430.3 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5041 entries, 0 to 5040
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             5041 non-null   int64
 1   N_Days         5041 non-null   int64
 2   Status         5041 non-null   int64
 3   Drug           5041 non-null   int64
 4   Age            5041 non-null   int64
 5   Sex            5041 non-null   int64
 6   Ascites        5041 non-null   int64
 7   Hepatomegaly   5041 non-null   int64
 8   Spiders        5041 non-null   int64
 9   Edema          5041 non-null   int64
 10  Bilirubin      5041 non-null   int64
 11  Cholesterol    5041 non-null   int64
 12  Albumin        5041 non-null   int64
 13  Copper         5041 non-null   int64
 14  Alk_Phos       5041 non-null   int64
 15  SGOT           5041 non-null   int64
 16  Tryglicerides  5041 non-null   int64
 17  Platelets      5041 non-null   int64
 18  Prothrombin    5041 non-null   int64
 19  Stage          5041 non-null   float64
dtypes: float64(1), int64(19)
memory usage: 787.8 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5041 entries, 0 to 5040
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             5041 non-null   int64
 1   N_Days         5041 non-null   int64
 2   Status         5041 non-null   int64
 3   Drug           5041 non-null   int64
 4   Age            5041 non-null   int64
 5   Sex            5041 non-null   int64
 6   Ascites        5041 non-null   int64
 7   Hepatomegaly   5041 non-null   int64
 8   Spiders        5041 non-null   int64
 9   Edema          5041 non-null   int64
 10  Bilirubin      5041 non-null   int64
 11  Cholesterol    5041 non-null   int64
 12  Albumin        5041 non-null   int64
 13  Copper         5041 non-null   int64
 14  Alk_Phos       5041 non-null   int64
 15  SGOT           5041 non-null   int64
 16  Tryglicerides  5041 non-null   int64
 17  Platelets      5041 non-null   int64
 18  Prothrombin    5041 non-null   int64
 19  Stage          5041 non-null   float64
dtypes: float64(1), int64(19)
memory usage: 787.8 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5042 entries, 0 to 5041
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             5042 non-null   int64
 1   N_Days         5042 non-null   int64
 2   Status         5042 non-null   int64
 3   Drug           5042 non-null   int64
 4   Age            5042 non-null   int64
 5   Sex            5042 non-null   int64
 6   Ascites        5042 non-null   int64
 7   Hepatomegaly   5042 non-null   int64
 8   Spiders        5042 non-null   int64
 9   Edema          5042 non-null   int64
 10  Bilirubin      5042 non-null   int64
 11  Cholesterol    5042 non-null   int64
 12  Albumin        5042 non-null   int64
 13  Copper         5042 non-null   int64
 14  Alk_Phos       5042 non-null   int64
 15  SGOT           5042 non-null   int64
 16  Tryglicerides  5042 non-null   int64
 17  Platelets      5042 non-null   int64
 18  Prothrombin    5042 non-null   int64
 19  Stage          5042 non-null   float64
dtypes: float64(1), int64(19)
memory usage: 787.9 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5041 entries, 0 to 5040
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             5041 non-null   int64
 1   N_Days         5041 non-null   int64
 2   Status         5041 non-null   int64
 3   Drug           5041 non-null   int64
 4   Age            5041 non-null   int64
 5   Sex            5041 non-null   int64
 6   Ascites        5041 non-null   int64
 7   Hepatomegaly   5041 non-null   int64
 8   Spiders        5041 non-null   int64
 9   Edema          5041 non-null   int64
 10  Bilirubin      5041 non-null   int64
 11  Cholesterol    5041 non-null   int64
 12  Albumin        5041 non-null   int64
 13  Copper         5041 non-null   int64
 14  Alk_Phos       5041 non-null   int64
 15  SGOT           5041 non-null   int64
 16  Tryglicerides  5041 non-null   int64
 17  Platelets      5041 non-null   int64
 18  Prothrombin    5041 non-null   int64
 19  Stage          5041 non-null   float64
dtypes: float64(1), int64(19)
memory usage: 787.8 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5041 entries, 0 to 5040
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             5041 non-null   int64
 1   N_Days         5041 non-null   int64
 2   Status         5041 non-null   int64
 3   Drug           5041 non-null   int64
 4   Age            5041 non-null   int64
 5   Sex            5041 non-null   int64
 6   Ascites        5041 non-null   int64
 7   Hepatomegaly   5041 non-null   int64
 8   Spiders        5041 non-null   int64
 9   Edema          5041 non-null   int64
 10  Bilirubin      5041 non-null   int64
 11  Cholesterol    5041 non-null   int64
 12  Albumin        5041 non-null   int64
 13  Copper         5041 non-null   int64
 14  Alk_Phos       5041 non-null   int64
 15  SGOT           5041 non-null   int64
 16  Tryglicerides  5041 non-null   int64
 17  Platelets      5041 non-null   int64
 18  Prothrombin    5041 non-null   int64
 19  Stage          5041 non-null   float64
dtypes: float64(1), int64(19)
memory usage: 787.8 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5041 entries, 0 to 5040
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             5041 non-null   int64
 1   N_Days         5041 non-null   int64
 2   Status         5041 non-null   int64
 3   Drug           5041 non-null   int64
 4   Age            5041 non-null   int64
 5   Sex            5041 non-null   int64
 6   Ascites        5041 non-null   int64
 7   Hepatomegaly   5041 non-null   int64
 8   Spiders        5041 non-null   int64
 9   Edema          5041 non-null   int64
 10  Bilirubin      5041 non-null   int64
 11  Cholesterol    5041 non-null   int64
 12  Albumin        5041 non-null   int64
 13  Copper         5041 non-null   int64
 14  Alk_Phos       5041 non-null   int64
 15  SGOT           5041 non-null   int64
 16  Tryglicerides  5041 non-null   int64
 17  Platelets      5041 non-null   int64
 18  Prothrombin    5041 non-null   int64
 19  Stage          5041 non-null   float64
dtypes: float64(1), int64(19)
memory usage: 787.8 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5042 entries, 0 to 5041
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             5042 non-null   int64
 1   N_Days         5042 non-null   int64
 2   Status         5042 non-null   int64
 3   Drug           5042 non-null   int64
 4   Age            5042 non-null   int64
 5   Sex            5042 non-null   int64
 6   Ascites        5042 non-null   int64
 7   Hepatomegaly   5042 non-null   int64
 8   Spiders        5042 non-null   int64
 9   Edema          5042 non-null   int64
 10  Bilirubin      5042 non-null   int64
 11  Cholesterol    5042 non-null   int64
 12  Albumin        5042 non-null   int64
 13  Copper         5042 non-null   int64
 14  Alk_Phos       5042 non-null   int64
 15  SGOT           5042 non-null   int64
 16  Tryglicerides  5042 non-null   int64
 17  Platelets      5042 non-null   int64
 18  Prothrombin    5042 non-null   int64
 19  Stage          5042 non-null   float64
dtypes: float64(1), int64(19)
memory usage: 787.9 KB

In [ ]:
y_1 = x_1['Stage']
x_1 = x_1.drop(['Stage'],axis=1)

y_2 = x_2['Stage']
x_2 = x_2.drop(['Stage'],axis=1)

y_3 = x_3['Stage']
x_3 = x_3.drop(['Stage'],axis=1)

y_4 = x_4['Stage']
x_4 = x_4.drop(['Stage'],axis=1)

y_5 = x_5['Stage']
x_5 = x_5.drop(['Stage'],axis=1)

y_6 = x_6['Stage']
x_6 = x_6.drop(['Stage'],axis=1)

y_7 = x_7['Stage']
x_7 = x_7.drop(['Stage'],axis=1)

y_8 = x_8['Stage']
x_8 = x_8.drop(['Stage'],axis=1)

In [ ]:
X_1_train, X_1_test, y_1_train, y_1_test = train_test_split(x_1, y_1, test_size=0.1, random_state=2, shuffle=True)
X_2_train, X_2_test, y_2_train, y_2_test = train_test_split(x_2, y_2, test_size=0.1, random_state=2, shuffle=True)
X_3_train, X_3_test, y_3_train, y_3_test = train_test_split(x_3, y_3, test_size=0.1, random_state=2, shuffle=True)
X_4_train, X_4_test, y_4_train, y_4_test = train_test_split(x_4, y_4, test_size=0.1, random_state=2, shuffle=True)
X_5_train, X_5_test, y_5_train, y_5_test = train_test_split(x_5, y_5, test_size=0.1, random_state=2, shuffle=True)
X_6_train, X_6_test, y_6_train, y_6_test = train_test_split(x_6, y_6, test_size=0.1, random_state=2, shuffle=True)
X_7_train, X_7_test, y_7_train, y_7_test = train_test_split(x_7, y_7, test_size=0.1, random_state=2, shuffle=True)
X_8_train, X_8_test, y_8_train, y_8_test = train_test_split(x_8, y_8, test_size=0.1, random_state=2, shuffle=True)

In [ ]:
clf1 = tree.DecisionTreeClassifier(max_depth=32)

In [ ]:
cvs_1 = (np.mean(cross_val_score(clf1, X_1_train, y_1_train, cv=10)))
cvs_2 = (np.mean(cross_val_score(clf1, X_2_train, y_2_train, cv=10)))
cvs_3 = (np.mean(cross_val_score(clf1, X_3_train, y_3_train, cv=10)))
cvs_4 = (np.mean(cross_val_score(clf1, X_4_train, y_4_train, cv=10)))
cvs_5 = (np.mean(cross_val_score(clf1, X_5_train, y_5_train, cv=10)))
cvs_6 = (np.mean(cross_val_score(clf1, X_6_train, y_6_train, cv=10)))
cvs_7 = (np.mean(cross_val_score(clf1, X_7_train, y_7_train, cv=10)))
cvs_8 = (np.mean(cross_val_score(clf1, X_8_train, y_8_train, cv=10)))

In [ ]:
cvs_1,cvs_2,cvs_3,cvs_4,cvs_5,cvs_6,cvs_7,cvs_8

(0.347616560010448,
 0.6873987416246073,
 0.6809887096303644,
 0.6916406531104433,
 0.6818639320827377,
 0.5097028133539497,
 0.5160924234909705,
 0.5003272359502484)

In [ ]:
clf1.fit(X_1_train,y_1_train)
clf1.fit(X_2_train,y_2_train)
clf1.fit(X_3_train,y_3_train)
clf1.fit(X_4_train,y_4_train)
clf1.fit(X_5_train,y_5_train)
clf1.fit(X_6_train,y_6_train)
clf1.fit(X_7_train,y_7_train)
clf1.fit(X_8_train,y_8_train)

DecisionTreeClassifier(max_depth=32)

In [ ]:
print(clf1.score(X_1_test,y_1_test))
print(clf1.score(X_2_test,y_2_test))
print(clf1.score(X_3_test,y_3_test))
print(clf1.score(X_4_test,y_4_test))
print(clf1.score(X_5_test,y_5_test))
print(clf1.score(X_6_test,y_6_test))
print(clf1.score(X_7_test,y_7_test))
print(clf1.score(X_8_test,y_8_test))

0.9456521739130435
0.8673267326732673
0.8673267326732673
0.9386138613861386
0.9584158415841584
0.8712871287128713
0.8475247524752475
0.5326732673267327

In [ ]:
y_pred = clf1.predict(X_5_test)
y_preds = np.round(y_pred)
print('Accuracy Score is: ', accuracy_score(y_5_test,y_preds))

Accuracy Score is:  0.9584158415841584

In [ ]:
Y_1 = pd.concat([y_1_test,y_2_test,y_3_test,y_4_test,
                 y_5_test,y_6_test,y_7_test])

In [ ]:
Y_1

1743    3.0
2705    1.0
642     4.0
2012    2.0
79      2.0
       ...
368     4.0
2703    3.0
1439    4.0
1746    4.0
862     4.0
Name: Stage, Length: 3306, dtype: float64

In [ ]:
cm = confusion_matrix(y_5_test,y_preds)

In [ ]:
def plot_confusion_matrix(cm, classes,
                        normalize=False,
                        title='Confusion matrix',
                        cmap=plt.cm.Blues):
    """
    This function prints and plots the confusion matrix.
    Normalization can be applied by setting `normalize=True`.
    """
    plt.imshow(cm, interpolation='nearest', cmap=cmap)
    plt.title(title)
    plt.colorbar()
    tick_marks = np.arange(len(classes))
    plt.xticks(tick_marks, classes, rotation=45)
    plt.yticks(tick_marks, classes)

    if normalize:
        cm = cm.astype('float') / cm.sum(axis=1)[:, np.newaxis]
        print("Normalized confusion matrix")
    else:
        print('Confusion matrix, without normalization')

    print(cm)

    thresh = cm.max() / 2.
    for i, j in itertools.product(range(cm.shape[0]), range(cm.shape[1])):
        plt.text(j, i, cm[i, j],
            horizontalalignment="center",
            color="white" if cm[i, j] > thresh else "black")

    plt.tight_layout()
    plt.ylabel('True label')
    plt.xlabel('Predicted label')

In [ ]:
print(classification_report(y_5_test,y_preds))

              precision    recall  f1-score   support

         1.0       0.96      0.90      0.93        52
         2.0       0.99      0.93      0.96       165
         3.0       0.94      0.99      0.97       144
         4.0       0.95      0.97      0.96       144

    accuracy                           0.96       505
   macro avg       0.96      0.95      0.95       505
weighted avg       0.96      0.96      0.96       505

In [ ]:
Y_1

In [ ]:
Y_5_test = X_5_test['ID']
X_5_test = X_5_test.drop(columns = ['ID'])

In [ ]:
Y_5_test

In [ ]:
y_preds

In [ ]:
df_target=pd.DataFrame(Y_1)

 # its important for comparison. Here "test_new" is your new test dataset
df_target.columns = ['Stage']
df_target

      Stage
1743    3.0
2705    1.0
642     4.0
2012    2.0
79      2.0
...     ...
368     4.0
2703    3.0
1439    4.0
1746    4.0
862     4.0

[3306 rows x 1 columns]

In [ ]:

df_target.to_csv('prediction_results.csv', index = True)